version: '3.8'

services:
  backend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"

  frontend:
    image: school-nginx:latest
    ports:
      - "8080:80"
    depends_on:
      - backend
